@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.Button:hover {
  filter: brightness(0.75);
}
