@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.Button:hover {
  filter: brightness(0.75);
}

.ProjectCard {
  bottom: 0;
  transition: all 0.5s;
}

.ProjectCard:hover {
  bottom: 1.5rem;
}


.blog-post p {
  margin: 1.5rem 0;
  font-size: 1.25rem;
}

.blog-post h2 {
  font-size: 2rem;
  margin-top: 3rem;
}

.blog-post ol, li {
  margin-left: 24px;
}

.blog-post ol {
  list-style: decimal;
}
